<div class="main-div">
    <div class="navbar" fxLayoutAlign="end center" fxLayoutAlign.xs="start center" fxLayoutGap="40px" fxLayout="row wrap">
        <h4 class="nav-title">Careers</h4>
        <h4 class="nav-title">About us</h4>
        <h4 class="nav-title">Contact us</h4>
    </div>
    <img src="../../assets/images/cover.jpg" class="cover">
    <div class="title-div">
        <h1 class="title">MEDICARE</h1>
        <button class="book_btn" [routerLink]="['/Booking']" routerLinkActive="router-link-active">Book Appointment</button>
    </div>

</div>